<aside>
	<div class="panel radius">
		<h3>Our clients and friends</h3>
		<p>
			We are focused on research and development in mobile and internet technology for better business and life.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.url }}{{ site.favicon }}" alt="obserwatorium.biz">
		<p class="text-left">
			FinTech advisor <a href="http://www.obserwatorium.biz/">More...</a>
		</p>
        apilia
        nukomeet
	</div>
</aside>