<aside>
	<div class="panel radius">
		<h3>Our clients and friends</h3>
		<p>
			We are focused on research and development in mobile and internet technology for better business and life.
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{ site.url }}/assets/img/obserwatorium_logo.png" alt="obserwatorium.biz">
		<p class="text-left">
			FinTech advisor <a href="http://www.obserwatorium.biz/">More...</a>
		</p>
		<img src="{{ site.url }}/assets/img/apilia-logo-mini.png" alt="apilia.pl">
		<p class="text-left">
        Apilia is a supplier of high quality software and outsourcing services for business.
				<a href="http://www.apilia.pl/">More...</a>
		</p>
		<img src="{{ site.url }}/assets/img/nukomeet-logo-light-280x60.png" alt="nukomeet.com">
		<p>
        Nukomeet is an interdisciplinary team that helps you build mobile and web applications.
				<a href="http://www.nukomeet.com/">More...</a>
		</p>
	</div>
</aside>
